@import "./variables";

.table {
    &__footer {
       display: flex;
       align-items: center;
       margin-left: 32px;
    }

    &__cell-footer {
        color: $soft-gray;
        font-size: 12px;
        font-family: $font-family;
        line-height: 35px;
    }

    .date {
        display: flex;
    }

    .link {
        color: $primary-color;
        text-decoration: underline;
    }

   
}
