@import "./variables";

.table {
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 32px;
        padding: 6px;
    }

    &__row-footer {
        display: flex;
        width: 100%;
        align-items: center;
    }

    &__cell-footer {
        color: $soft-gray;
        font-size: 12px;
        font-family: $font-family;
        line-height: 35px;
        display: flex;
        flex: 1;
    }

    .date {
        display: flex;
    }

    .link {
        color: $primary-color;
        text-decoration: underline;
    }

    &__content-button {
        display: flex;
        justify-content: flex-end;

        button {
            background: $primary-color;
            border: 1px solid $orange;
            padding: 8px;
            margin: 0;
            color: $white;
            outline: $pumpkin;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
            border-radius: 10px;
            box-shadow: none;
            transition: filter 0.3s ease;

            &:hover {
                filter: brightness(85%);
            }
        }
    }

}