@import './table';
@import './header';
@import './dataTable';
@import './footer';
@import './form';
@import './variables';
@import './toast';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.tableMain {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: $light-gray;
}