$primary-color: #f08080;
$orange: #ff7f50;
$pumpkin: #ffa500;
$orange-red: #ff4500;
$matte-black: #333333;
$white: #fff;
$light-gray: #cfcfcf;
$soft-gray: #707070;
$matte-white: #fff0f5;
$grimy: #f0f8ff;
$font-family: Arial, Helvetica, sans-serif;